[submodule "GameEngineSourceCode/VMagicGameEngine/VMagicGameEngine/vendor/spdlog"]
	path = GameEngineSourceCode/VMagicGameEngine/VMagicGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
